* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

li:hover {
  cursor: pointer;
}

.section-main {
  width: 100%;
  height: 1130px;
}

.main-slider-container {
  width: 100%;
  height: 65%;
  background-image: url(./image/AlongWithTheGods_1920774.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-movie-container {
  width: 100%;
  height: 35%;
  background-color: #000000;
}

header {
  width: 100%;
  height: 180px;
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

.header-info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #b2b2b2;
  padding: 1rem 0;
  position: relative;
}

.header-info-left {
  display: flex;
}

.header-info-left-sns {
  display: flex;
  margin: 0 0.5rem 0 0;
  opacity: 0.5;
}

.header-info-left-facebook {
  background-image: url(./image/gnb_facebook_wht.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 14px;
  line-height: 12px;
  padding-left: 18px;
  font-size: 0.8rem;
}

.header-info-left-youtube {
  background-image: url(./image/gnb_youtube_wht.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  height: 14px;
  line-height: 12px;
  padding-left: 18px;
  font-size: 0.8rem;
}

.header-info-right {
  display: flex;
  opacity: 0.5;
  font-size: 0.8rem;
  height: 14px;
  line-height: 12px;
}

.header-info-right-font {
  margin: 0 0 0 0.4rem;
}

.header-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
  padding-left: 0;
}

.header-nav-li-font {
  padding: 0 1.5rem 0.8rem 1.5rem;
  font-size: 0.9rem;
}

.js-nav-mouseover {
  border-bottom: 2px solid #dd2c00;
}

.header-nav-li {
  color: #b2b2b2;
  font-size: 0.1rem;
}

.header-nav-div-container {
  position: absolute;
  top: 85px;
  right: 0;
}

.header-nav-join {
  background-image: url(./image/nav_side_my_wht.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 18px;
  font-size: 0.8rem;
  margin-left: 0.7rem;
}

.header-nav-reserve {
  background-image: url(./image/nav_side_reserve_wht.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 18px;
  font-size: 0.8rem;
  margin-left: 0.7rem;
}

.header-nav-hamberger {
  font-size: 0.8rem;
  margin-left: 0.7rem;
}

.header-nav-pop-container {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 37px;
  background-color: #1b1b1b;
  margin: 0;
  opacity: 0.9;
}

.js-nav-pop {
  display: none;
}

.header-nav-pop-ul {
  display: flex;
  justify-content: center;
  margin: 0;
  opacity: 0.5;
}

.header-nav-pop-ul li {
  padding: 0 1rem;
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

@media only screen and (min-width: 1200px) {
  .inner {
    max-width: 1050px;
  }
}
